.game-board-container,
.draft-table-container {
  position: relative;
  display: inline-block;
  max-width: calc((1rem / 16) * 500);
  margin: 0;
}

.draft-table-container {
  max-width: calc((1rem / 16) * 300);
}

.game-board-container img,
.draft-table-container img {
  display: block;
  max-width: 100%;
}

.game-board-container svg,
.draft-table-container svg {
  position: absolute;
  width: 100%;
  // height: 100%;
  top: 0;
  left: 0;
}
