.game-zone {
  display: flex;
  justify-content: center;
  // align-items: center;
  gap: 1rem;
  // height: 100vh;
  padding: 1rem;
}

.game-zone-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.token-holder {
  display: flex;
  justify-content: space-evenly;
  stroke: black;
  gap: 0.25rem;

  svg {
    flex: 1 1 100%;
    max-width: 3rem;
    max-height: 2rem;
    cursor: pointer;
    transition: transform 150ms ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
