.animal-deck-modal {
  margin: auto;
  user-select: none;
  width: 90%;
  padding: calc(20vw * 100 / 1280);
  border: calc(1vw * 100 / 1280) solid rgb(68, 94, 151);
  background-color: #1f1f1f;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(3px);
  }
}

.clones-wrapper {
  display: flex;
  gap: calc(16vw * 100 / 1280);
  justify-content: center;
  height: calc(230vw * 100 / 1280);
  margin-bottom: calc(30vw * 100 / 1280);

  img,
  svg {
    width: unset;
  }

  .animal-cards-clone-wrapper {
    display: flex;
    gap: calc(8vw * 100 / 1280);
  }
}

.cards-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: calc(8vw * 100 / 1280);
  width: 100%;
}

.card-wrapper {
  display: none;
  transform: scale(1);
  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
  opacity: 0.8;

  &:has(img) {
    display: block;
    padding: calc(5vw * 100 / 1280);
    flex-basis: 16.66667%;
  }

  &:has(img):hover {
    opacity: 1;
    transform: scale(1.08);
    transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
  }
}

.card-picker {
  flex-basis: 16.66667%;
  border: calc(1vw * 100 / 1280) solid rgb(68, 94, 151);
  margin-left: auto;
  background-color: #1a1a1a;
  border-radius: calc(10vw * 100 / 1280);
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: calc(8vw * 100 / 1280);
  margin-top: calc(24vw * 100 / 1280);

  .buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: calc(8vw * 100 / 1280);

    &.hidden {
      // visibility: hidden;
      display: none;
    }
  }
}

.draw-pick-button {
  background-color: #2a8b2a;
  color: #eeffee;
  border: calc(1vw * 100 / 1280) solid #509c50;

  &:disabled {
    display: none;
  }
}

.discard-pick-button {
  background-color: #ac2222;
  color: #ffe2e2;
  border: calc(1vw * 100 / 1280) solid #9c5050;
}

.cancel-pick-button {
  background-color: gold;
  color: rgb(94, 71, 14);
  border: calc(1vw * 100 / 1280) solid #ffee91;
}

.close-deck-button {
  background-color: #2e5794;
  color: white;
  border: calc(1vw * 100 / 1280) solid #396dbb;
}

.card-picker {
  position: relative;
  display: grid;
  place-items: center;
  background-color: #272727;
  border: calc(2vw * 100 / 1280) dashed rgb(68, 94, 151);
  border-radius: 0.5rem;

  &::before {
    content: 'glisser-déposer\Aune carte';
    white-space: pre-wrap;
    position: absolute;
    top: calc(24vw * 100 / 1280);
    display: block;
    font-family: 'Xilosa';
    font-size: calc(24vw * 100 / 1280);
    color: rgb(89, 133, 226);
    text-align: center;
  }

  &::after {
    content: '+';
    position: absolute;
    bottom: calc(24vw * 100 / 1280);
    display: grid;
    place-items: center;
    width: calc(54vw * 100 / 1280);
    height: calc(54vw * 100 / 1280);
    border-radius: 100%;
    border: calc(2vw * 100 / 1280) dotted rgb(68, 94, 151, 0.7);
    font-size: calc(32vw * 100 / 1280);
    font-family: auto;
    color: rgb(68, 94, 151, 0.7);
  }

  &.drag-over {
    border: calc(2vw * 100 / 1280) solid rgb(68, 94, 151, 0.7);
    background-color: rgb(68, 94, 151, 0.4);

    &::before,
    &::after {
      all: unset;
    }
  }

  .animal-card {
    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
}
