.animal-deck-modal {
  margin: auto;
  width: 90%;
  padding: calc(20vw * 100 / 1280);
  border: 1px solid rgb(68, 94, 151);
  background-color: #1f1f1f;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(3px);
  }
}

.cards-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: calc(8vw * 100 / 1280);
  width: 100%;
}

.card-wrapper,
.card-picker {
  padding: calc(5vw * 100 / 1280);
  flex-basis: 16.66667%;
}

.card-wrapper {
  transform: scale(1);
  transition: transform 150ms ease-in-out;
}

.card-wrapper:has(img):hover {
  transform: scale(1.05);
  transition: transform 150ms ease-in-out;
}

.card-picker {
  border: calc(1vw * 100 / 1280) solid rgb(68, 94, 151);
  margin-left: auto;
  background-color: #1a1a1a;
  border-radius: calc(10vw * 100 / 1280);
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: calc(8vw * 100 / 1280);
  margin-top: calc(16vw * 100 / 1280);
}

.confirm-pick-button {
  background-color: #2a8b2a;
  color: white;
  border: calc(1vw * 100 / 1280) solid #509c50;
}

.cancel-pick-button {
  background-color: gold;
  color: rgb(94, 71, 14);
  border: calc(1vw * 100 / 1280) solid #ffee91;
}

.close-deck-button {
  background-color: #ac2222;
  color: white;
  border: calc(1vw * 100 / 1280) solid #9c5050;
}

.card-picker {
  position: relative;
  display: grid;
  place-items: center;
  width: calc(var(--animal-card-width) + 31px);
  height: calc((var(--animal-card-width) + 27px) * 172 / 100);
  background-color: #272727;
  border: 2px dashed rgb(68, 94, 151);
  border-radius: 0.5rem;

  &::before {
    content: 'glisser/déposer\Aune carte';
    white-space: pre-wrap;
    position: absolute;
    top: 2rem;
    display: block;
    font-size: 0.9rem;
    color: rgb(87, 123, 202);
    text-align: center;
  }

  &::after {
    content: '+';
    position: absolute;
    bottom: 2rem;
    display: grid;
    place-items: center;
    width: 54px;
    height: 54px;
    border-radius: 100%;
    border: 2px dotted rgb(68, 94, 151, 0.7);
    font-size: 2rem;
    font-family: auto;
    color: rgb(68, 94, 151, 0.7);
  }

  &.drag-over {
    border: 2px solid rgb(68, 94, 151, 0.7);

    &::before,
    &::after {
      all: unset;
    }
  }

  .animal-card {
    opacity: 1;

    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
}
