.draft-table-wrapper {
  position: relative;
  width: 100%;
}

.draft-table-svg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.draft-table-slot {
  cursor: pointer;
  fill: transparent;

  &:hover {
    fill: url(#hover-gradient);

    & ~ .slot-tokens {
      stroke-width: calc(2rem / 16);
    }
  }
}

.slot-tokens {
  pointer-events: none;
  stroke: black;
}

.token-holder-slot {
  cursor: pointer;

  svg {
    width: 48px;
    height: 32px;
  }
}

.picked-tokens-wrapper {
  display: flex;
  justify-content: space-evenly;
  stroke: black;

  .picked-token {
    width: 48px;
    height: 32px;

    svg {
      width: 100%;
      height: 100%;
      cursor: pointer;
      transition: transform 150ms ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.dragging {
  opacity: 0.5;
}
