.preview-box-wrapper {
  cursor: pointer;
  position: relative;
  user-select: none;
  width: 100%;

  .preview {
    display: flex;
  }

  .score-board {
    display: none;
  }

  .score-board-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    display: none;

    .score,
    .score-board-title {
      font-family: 'Xilosa';
      font-size: calc(24vw * 100 / 1280);
      color: black;
    }

    .score-board-title {
      font-size: calc(20vw * 100 / 1280);
      display: flex;
      justify-content: center;
      gap: calc(8vw * 100 / 1280);
      position: absolute;
      top: 0;
      left: 25%;
      width: 50%;
      text-align: center;

      .suns-count {
        cursor: help;
      }
    }

    .total-score {
      cursor: default;
      position: absolute;
      font-size: calc(26vw * 100 / 1280);
      width: 100%;
      text-align: center;
      bottom: 0;
      left: 1%;
    }

    [data-score-for-token],
    [data-score-for-animal] {
      cursor: help;
      position: absolute;
      width: calc(44vw * 100 / 1280);
      text-align: center;
      color: black;
    }
  }

  .tokens-scores {
    [data-score-for-token] {
      font-size: calc(22vw * 100 / 1280);
      left: 32.8%;
    }

    [data-score-for-token='tree'] {
      bottom: 78.9%;
    }

    [data-score-for-token='mountain'] {
      bottom: 63.9%;
    }

    [data-score-for-token='field'] {
      bottom: 48.9%;
    }

    [data-score-for-token='building'] {
      bottom: 33.9%;
    }

    [data-score-for-token='river'] {
      bottom: 18.9%;
    }

    [data-score-for-token='total'] {
      font-size: calc(24vw * 100 / 1280);
      bottom: 9%;
    }
  }

  .animals-scores {
    [data-score-for-animal] {
      font-size: calc(22vw * 100 / 1280);
      left: 52.5%;
    }

    [data-position='0'] {
      bottom: 78%;
    }

    [data-position='1'] {
      bottom: 69.6%;
    }

    [data-position='2'] {
      bottom: 61.1%;
    }

    [data-position='3'] {
      bottom: 52.6%;
    }

    [data-position='4'] {
      bottom: 44.1%;
    }

    [data-position='5'] {
      bottom: 35.6%;
    }

    [data-position='6'] {
      bottom: 27.1%;
    }

    [data-position='7'] {
      bottom: 18.6%;
    }

    [data-score-for-animal='total'] {
      font-size: calc(24vw * 100 / 1280);
      bottom: 9%;
    }
  }

  &.score-board--show {
    .preview {
      display: none;
    }

    .score-board {
      display: flex;
    }

    .score-board-overlay {
      display: flex;
    }
  }
}
