.button {
  cursor: pointer;
  font-size: var(--btn-font-size);
  font-family: 'Xilosa', sans-serif;
  border: none;
  opacity: 0.8;
  border-radius: calc(10vw * 100 / 1280);
  padding-block: calc(3vw * 100 / 1280) calc(6vw * 100 / 1280);
  padding-inline: calc(22vw * 100 / 1280);
  transition: opacity 250ms ease-in-out;

  &:hover {
    opacity: 1;
  }

  &[disabled] {
    cursor: not-allowed;
    filter: saturate(0.3);

    &:hover {
      opacity: 0.8;
    }
  }
}
